USE [DemEX]
GO
/****** Object:  Table [dbo].[Material_type_import]    Script Date: 22.10.2024 19:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material_type_import](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TypeMaterials] [nvarchar](max) NULL,
	[PercentBrakMaterial] [float] NULL,
 CONSTRAINT [PK_Material_type_import] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partner_products_import]    Script Date: 22.10.2024 19:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partner_products_import](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDNameProduct] [int] NULL,
	[IDNamePartner] [int] NULL,
	[CountProduct] [nvarchar](50) NULL,
	[DateSale] [date] NULL,
 CONSTRAINT [PK_Partner_products_import] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partners_import]    Script Date: 22.10.2024 19:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners_import](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDTypePartner] [int] NULL,
	[NamePartner] [nvarchar](max) NULL,
	[Director] [nvarchar](max) NULL,
	[EmailPartner] [nvarchar](max) NULL,
	[PhoneNumPartner] [bigint] NULL,
	[AddressPartner] [nvarchar](max) NULL,
	[INN] [bigint] NULL,
	[Rate] [float] NULL,
 CONSTRAINT [PK_Partners_import] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_type_import]    Script Date: 22.10.2024 19:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_type_import](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TypeProduct] [nvarchar](50) NULL,
	[KoeffTypeProduct] [float] NULL,
 CONSTRAINT [PK_Product_type_import] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products_import]    Script Date: 22.10.2024 19:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products_import](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDTypeProduct] [int] NULL,
	[NameProduct] [nvarchar](max) NULL,
	[Articul] [int] NULL,
	[MinCostPartner] [float] NULL,
 CONSTRAINT [PK_Products_import] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypePartner]    Script Date: 22.10.2024 19:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypePartner](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TypePartner] [nvarchar](50) NULL,
 CONSTRAINT [PK_TypePartner] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Material_type_import] ON 

INSERT [dbo].[Material_type_import] ([ID], [TypeMaterials], [PercentBrakMaterial]) VALUES (1, N'Тип материала 1
', 0.1)
INSERT [dbo].[Material_type_import] ([ID], [TypeMaterials], [PercentBrakMaterial]) VALUES (2, N'Тип материала 2
', 0.95)
INSERT [dbo].[Material_type_import] ([ID], [TypeMaterials], [PercentBrakMaterial]) VALUES (3, N'Тип материала 3
', 0.28)
SET IDENTITY_INSERT [dbo].[Material_type_import] OFF
GO
SET IDENTITY_INSERT [dbo].[Partner_products_import] ON 

INSERT [dbo].[Partner_products_import] ([ID], [IDNameProduct], [IDNamePartner], [CountProduct], [DateSale]) VALUES (1, 1, 1, N'15500', CAST(N'2023-03-23' AS Date))
INSERT [dbo].[Partner_products_import] ([ID], [IDNameProduct], [IDNamePartner], [CountProduct], [DateSale]) VALUES (2, 3, 1, N'12350
', CAST(N'2023-12-18' AS Date))
INSERT [dbo].[Partner_products_import] ([ID], [IDNameProduct], [IDNamePartner], [CountProduct], [DateSale]) VALUES (3, 4, 1, N'37400
', CAST(N'2024-06-07' AS Date))
SET IDENTITY_INSERT [dbo].[Partner_products_import] OFF
GO
SET IDENTITY_INSERT [dbo].[Partners_import] ON 

INSERT [dbo].[Partners_import] ([ID], [IDTypePartner], [NamePartner], [Director], [EmailPartner], [PhoneNumPartner], [AddressPartner], [INN], [Rate]) VALUES (1, 1, N'База Строитель
', N'Иванова Александра Ивановна
', N'aleksandraivanova@ml.ru
', 84931234567, N'652050, Кемеровская область, город Юрга, ул. Лесная, 15
', 2222455179, 7)
INSERT [dbo].[Partners_import] ([ID], [IDTypePartner], [NamePartner], [Director], [EmailPartner], [PhoneNumPartner], [AddressPartner], [INN], [Rate]) VALUES (2, 2, N'Паркет 29
', N'Петров Василий Петрович
', N'vppetrov@vl.ru
', 89871235678, N'164500, Архангельская область, город Северодвинск, ул. Строителей, 18
', 3333888520, 7)
INSERT [dbo].[Partners_import] ([ID], [IDTypePartner], [NamePartner], [Director], [EmailPartner], [PhoneNumPartner], [AddressPartner], [INN], [Rate]) VALUES (3, 3, N'Стройсервис
', N'Соловьев Андрей Николаевич
', N'ansolovev@st.ru
', 88122233200, N'188910, Ленинградская область, город Приморск, ул. Парковая, 21
', 4440391035, 7)
SET IDENTITY_INSERT [dbo].[Partners_import] OFF
GO
SET IDENTITY_INSERT [dbo].[Product_type_import] ON 

INSERT [dbo].[Product_type_import] ([ID], [TypeProduct], [KoeffTypeProduct]) VALUES (1, N'Ламинат
', 2.35)
INSERT [dbo].[Product_type_import] ([ID], [TypeProduct], [KoeffTypeProduct]) VALUES (2, N'Массивная доска', 5.15)
INSERT [dbo].[Product_type_import] ([ID], [TypeProduct], [KoeffTypeProduct]) VALUES (3, N'Паркетная доса', 4.34)
SET IDENTITY_INSERT [dbo].[Product_type_import] OFF
GO
SET IDENTITY_INSERT [dbo].[Products_import] ON 

INSERT [dbo].[Products_import] ([ID], [IDTypeProduct], [NameProduct], [Articul], [MinCostPartner]) VALUES (1, 3, N'Паркетная доска Ясень темный однополосная 14 мм
', 8758385, 4456.9)
INSERT [dbo].[Products_import] ([ID], [IDTypeProduct], [NameProduct], [Articul], [MinCostPartner]) VALUES (2, 3, N'Инженерная доска Дуб Французская елка однополосная 12 мм
', 8858958, 7330.99)
INSERT [dbo].[Products_import] ([ID], [IDTypeProduct], [NameProduct], [Articul], [MinCostPartner]) VALUES (3, 1, N'Ламинат Дуб дымчато-белый 33 класс 12 мм
', 7750282, 1799.33)
SET IDENTITY_INSERT [dbo].[Products_import] OFF
GO
SET IDENTITY_INSERT [dbo].[TypePartner] ON 

INSERT [dbo].[TypePartner] ([ID], [TypePartner]) VALUES (1, N'ЗАО')
INSERT [dbo].[TypePartner] ([ID], [TypePartner]) VALUES (2, N'ООО')
INSERT [dbo].[TypePartner] ([ID], [TypePartner]) VALUES (3, N'ПАО')
SET IDENTITY_INSERT [dbo].[TypePartner] OFF
GO
ALTER TABLE [dbo].[Partner_products_import]  WITH CHECK ADD  CONSTRAINT [FK_Partner_products_import_Partners_import] FOREIGN KEY([IDNamePartner])
REFERENCES [dbo].[Partners_import] ([ID])
GO
ALTER TABLE [dbo].[Partner_products_import] CHECK CONSTRAINT [FK_Partner_products_import_Partners_import]
GO
ALTER TABLE [dbo].[Partner_products_import]  WITH CHECK ADD  CONSTRAINT [FK_Partner_products_import_Products_import] FOREIGN KEY([IDNameProduct])
REFERENCES [dbo].[Products_import] ([ID])
GO
ALTER TABLE [dbo].[Partner_products_import] CHECK CONSTRAINT [FK_Partner_products_import_Products_import]
GO
ALTER TABLE [dbo].[Partners_import]  WITH CHECK ADD  CONSTRAINT [FK_Partners_import_TypePartner] FOREIGN KEY([IDTypePartner])
REFERENCES [dbo].[TypePartner] ([ID])
GO
ALTER TABLE [dbo].[Partners_import] CHECK CONSTRAINT [FK_Partners_import_TypePartner]
GO
ALTER TABLE [dbo].[Products_import]  WITH CHECK ADD  CONSTRAINT [FK_Products_import_Product_type_import] FOREIGN KEY([IDTypeProduct])
REFERENCES [dbo].[Product_type_import] ([ID])
GO
ALTER TABLE [dbo].[Products_import] CHECK CONSTRAINT [FK_Products_import_Product_type_import]
GO
